/*----Declare color variables for light theme and dark theme*/
:root {
  --background: #f6ffd7;
  --primary-color: #41a464;
  --primary-color-dark: #003b3c;
  --accent-color: #d6ffb7;
  --primary-text: #212121;
  --secondary-text: #757575;
  --card: #fff;
}

.dark-mode {
  --background: #003b3c;
  --primary-color: #92d18a;
  --primary-color-dark: #41a464;
  --accent-color: #38726c;
  --primary-text: #fcfcfc;
  --secondary-text: #c4c4c4;
  --card: #38726c;
}

body {
  background-color: var(--background);
  color: var(--primary-text);
  font-family: ‘Montserrat’, sans-serif;
}

/*----Navbar*/
.navbar {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

span.navbar-text {
  font-size: 0.75rem;
  color: var(--primary-color);
  padding-top: 0;
  padding-bottom: 0;
}

nav svg {
  fill: var(--primary-color);
}

/* Theme switch toggle adapted from Matt Smith's Codepen */
.theme-switch {
  display: inline-block;
  height: 1.625rem;
  position: relative;
  width: 2.75rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 1.15rem;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 1.15rem;
}

.theme-switch input:checked + .slider {
  background-color: var(--primary-color);
}

.theme-switch input:checked + .slider:before {
  transform: translateX(1.1rem);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end of theme switch toggle */

/*----footer*/
footer {
  background-color: var(--accent-color);
}

.footer-sponsor a {
  color: var(--primary-color);
  text-decoration: none;
}

.footer-sponsor a:hover {
  color: var(--primary-color-dark);
  transition: background-color 0.35s ease-in-out;
}

.social-links i {
  color: white;
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 1.85rem;
  height: 1.85rem;
  padding: 0.7rem 0;
  text-align: center;
  line-height: 7px;
}

.social-links i:hover {
  background-color: var(--primary-color-dark);
  transition: background-color 0.35s ease-in-out;
}

/*----colors, buttons*/
h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-color);
}

.text-muted {
  color: var(--secondary-text) !important;
}

span.icon-text {
  font-size: 0.75rem;
  color: var(--secondary-text);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: transparent;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--primary-color-dark);
  border-color: transparent;
}

.btn-secondary {
  background-color: white;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}

.btn-reset {
  background-color: white;
  border-color: var(--secondary-text);
  color: var(--secondary-text);
}

.btn-reset:hover {
  background-color: var(--secondary-text);
  border-color: transparent;
  color: white;
}

#nutrient-breakdown-total {
  background-color: var(--primary-color);
}

.fat-color {
  color: #f3d441;
}
.carbs-color {
  color: #091f92;
}
.protein-color {
  color: #8a0606;
}

.section-card-wrapper {
  background-color: var(--card);
  margin: 1rem 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}

a.meal-card-data {
  text-decoration: none;
  color: inherit;
  transition: border 0.15s ease-in-out;
}

.card-body:hover {
  border: solid 2px var(--primary-color);
}

.card-body:hover .card-title {
  text-decoration: underline;
  text-decoration-color: var(--primary-color); 
}

/*----index page */
.hero-wrapper {
  background: url("../img/index-background.jpg") center center / cover no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  z-index: -1;
}

.hero-heading {
  color: var(--primary-color-dark);
  font-family: Merienda, sans-serif;
  font-size: 3rem;
}

/*----grocery page*/
@media (min-width: 768px) {
  .section-card-wrapper.grocery {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.fa-edit,
.fa-trash-alt {
  color: var(--secondary-text);
  font-weight: 200;
}

/*----diet and intolerance selection*/
input[type="radio"],
input[type="checkbox"]{
  margin: 0;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

form input:checked + label {
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 1rem solid var(--accent-color);
  /* width: 100px;
  height: 100px; */
}

/*----recipe details page*/
ul > li {
  text-decoration: none;
  display: block;
  position: relative;
}

hr {
  border-top: 1px solid var(--primary-color);
  width: 90%;
}

@media (min-width: 768px) {
  .recipe-ingredients, 
  .recipe-instructions {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .recipe-nutrient-breakdown {
    border-left: 1px solid var(--primary-color);
  }
}